<mat-card *ngIf="config.hasOwnProperty('label')">
    <mat-form-field class="example-margin">
        <input matInput type="text" placeholder="Label" [(ngModel)]="config.label">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('value')">
    <mat-form-field class="example-margin">
        <input matInput type="text" placeholder="Value" [(ngModel)]="config.value">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('placeholder')">
    <mat-form-field class="example-margin" >
        <input matInput type="text" placeholder="Placeholder" [(ngModel)]="config.placeholder">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('min')">
    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Min value" [(ngModel)]="config.min">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('max')">
    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Max value" [(ngModel)]="config.max">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('step')">
    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Step size" [(ngModel)]="config.step">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('tickInterval')">
    <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Tick interval" [(ngModel)]="config.tickInterval">
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('color')">
    <mat-form-field>
        <mat-select [(ngModel)]="config.color" placeholder="Color">
            <mat-option value="primary">primary</mat-option>
            <mat-option value="warn">warn</mat-option>
            <mat-option value="accent">accent</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('thumbLabel')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.thumbLabel">Show thumb label</mat-checkbox>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('vertical')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.vertical">Vertical</mat-checkbox>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('invert')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.invert">Inverted</mat-checkbox>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('checked')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.checked">Checked</mat-checkbox>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('disabled')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.disabled">Disabled</mat-checkbox>
</mat-card>

<mat-card *ngIf="config.hasOwnProperty('required')">
    <mat-checkbox class="example-margin" [(ngModel)]="config.required">Required</mat-checkbox>
</mat-card>

<div class="options" *ngIf="config.hasOwnProperty('options')">
    <h4>Options</h4>
    <mat-card *ngFor="let option of config.options; let i = index; trackBy: customTrackBy">
        <mat-form-field class="example-margin">
            <input matInput type="text" placeholder="Text" [(ngModel)]="config.options[i]">
        </mat-form-field>
        <button *ngIf="config.options.length > 1" mat-icon-button color="primary" (click)="delOption(i)">
            <mat-icon>remove_circle</mat-icon>
        </button>
    </mat-card>
    <button mat-icon-button color="primary" (click)="addOption()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>