
<mat-toolbar fxLayout="row" *ngIf="form" class="finishToolbar">
    <div>
    <button (click)="endInterview()" fxLayoutAlign="center"
            fxFlex.lt-md="0 1 150px"
            fxFlex.md="200px"
            fxFlex.gt-md="260px"
            mat-raised-button color="primary" class="new-form-button">Finish Interview
    </button>
    </div>
</mat-toolbar>

<div class="form" *ngIf="form">
    <!--<h2 class="mat-h2">{{form.title}}</h2>-->
    <form class="example-container" [formGroup]="options">
        <fieldset class="form">
            <legend>
                <h2>{{form.title}}</h2>
            </legend>
            <!--container for row-->
            <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                <!--row-->
                <div class="row">

                    <!--container for cell-->
                    <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                        <!--cell-->
                        <div class="cell">
                            <div class="element flex-grow" *ngFor="let elem of cell.elements; let elemIndex = index">
                                <!--<div  [innerHtml]="cell.element | type"></div>-->

                                <!--if element is input TEXT-->
                                <mat-form-field *ngIf="elem.type==='text'" class="example-full-width form-element flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <input matInput type="text"
                                            [value]="elem.config.value"
                                            [placeholder]="elem.config.placeholder"
                                            [disabled]="elem.config.disabled"
                                            [required]="elem.config.required"
                                    >
                                </mat-form-field>

                                <!--if element is input NUMBER-->
                                <mat-form-field *ngIf="elem.type==='number'" class="example-full-width form-element flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <input matInput type="number"
                                            [value]="elem.config.value"
                                            [placeholder]="elem.config.placeholder"
                                            [min]="elem.config.min"
                                            [max]="elem.config.max"
                                            [disabled]="elem.config.disabled"
                                            [required]="elem.config.required"
                                    >
                                            
                                </mat-form-field>

                                <!--if element is input EMAIL-->
                                <mat-form-field *ngIf="elem.type==='email'" class="example-full-width form-element flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <input matInput type="email"
                                            [value]="elem.config.value"
                                            [placeholder]="elem.config.placeholder"
                                            [disabled]="elem.config.disabled"
                                            [required]="elem.config.required"
                                    >
                                </mat-form-field>

                                <!--if element is input PASSWORD-->
                                <mat-form-field *ngIf="elem.type==='password'" class="example-full-width form-element flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <input matInput type="password"
                                            [value]="elem.config.value"
                                            [placeholder]="elem.config.placeholder"
                                            [disabled]="elem.config.disabled"
                                            [required]="elem.config.required"
                                    >
                                </mat-form-field>

                                <!--if element is SLIDER-->
                                <section *ngIf="elem.type==='slider'" class="example-section flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <mat-slider
                                                class="example-margin form-element"
                                                [value]="elem.config.value"
                                                [invert]="elem.config.invert"
                                                [max]="elem.config.max"
                                                [min]="elem.config.min"
                                                [step]="elem.config.step"
                                                [thumbLabel]="elem.config.thumbLabel"
                                                [vertical]="elem.config.vertical"
                                                [disabled]="elem.config.disabled"
                                    >
                                    </mat-slider>
                                </section>

                                <!--if element is TOGGLE-->
                                <section *ngIf="elem.type==='toggle'" class="example-section" >

                                    <mat-slide-toggle class="example-margin form-element"
                                            [color]="elem.config.color"
                                            [checked]="elem.config.checked"
                                            [disabled]="elem.config.disabled"
                                    >
                                        {{elem.config.label}}
                                    </mat-slide-toggle>
                                </section>

                                <!--if element is SELECT-->
                                <mat-form-field *ngIf="elem.type==='select'" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <select matNativeControl  [disabled]="elem.config.disabled"
                                                [required]="elem.config.required"
                                                class="form-element"
                                    >
                                        <option *ngFor="let option of elem.config.options" value="{{option}}">
                                            {{option}}
                                        </option>
                                    </select>
                                </mat-form-field>

                                <!--if element is input CHECKBOX-->
                                <section class="example-section example-section-checkbox" *ngIf="elem.type==='checkbox'" 
                                [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <mat-checkbox *ngFor="let option of elem.config.options" class="example-margin example-margin-checkbox form-element"
                                                    [value]="option"
                                                    [color]="elem.config.color"
                                                    [disabled]="elem.config.disabled"
                                                    [required]="elem.config.required"
                                    >
                                        {{option}}
                                    </mat-checkbox>
                                </section>

                                <!--if element is input RADIO-->
                                <mat-radio-group class="example-radio-group" *ngIf="elem.type==='radio'"
                                [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <mat-radio-button class="example-radio-button form-element" *ngFor="let option of elem.config.options"
                                                        [value]="option"
                                                        [color]="elem.config.color"
                                                        [disabled]="elem.config.disabled"
                                                        [required]="elem.config.required">
                                        {{option}}
                                    </mat-radio-button>
                                </mat-radio-group>

                                <!--if element is TEXTAREA-->
                                <mat-form-field *ngIf="elem.type==='textarea'" class="example-full-width form-element flex-grow" >
                                    <mat-label>{{elem.config.label}}</mat-label>
                                    <textarea matInput
                                                [value]="elem.config.value"
                                                [placeholder]="elem.config.placeholder"
                                                [disabled]="elem.config.disabled"
                                    ></textarea>
                                </mat-form-field>

                                <!--if element is BUTTON-->
                                <div *ngIf="elem.type==='button'" class="example-button-row form-element flex-grow" >
                                    <button mat-raised-button
                                            [color]="elem.config.color"
                                            [disabled]="elem.config.disabled">{{elem.config.value}}</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div> 
        </fieldset>
    </form>
</div>

