<mat-drawer-container>

    <mat-drawer mode="side" opened>
        <mat-toolbar>
            <mat-icon color="primary">settings</mat-icon>
            {{title}}
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item disabled>
                Interviewers
            </a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <section>
            <!-- <router-outlet></router-outlet>  -->
            <app-interviewers></app-interviewers>
        </section>
    </mat-drawer-content>

</mat-drawer-container>