<h2 mat-dialog-title> Add new group </h2>
<mat-dialog-content>
    <form novalidate #groupForm="ngForm">
        <div *ngFor="let field of fields">
            <mat-form-field>
                <input matInput [placeholder]="field.title" [name]="field.title" ngModel #[field.title]="ngModel" minlength="3" maxlength="15" required [matTooltip]="field.tooltip">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn"> Cancel </button>
    <button mat-raised-button [disabled]="groupForm.invalid" [mat-dialog-close]="groupForm.value" color="primary"> Add </button>
</mat-dialog-actions>

<!-- Group
      Description -->

<!-- <div *ngIf="groupName.errors?.required && groupName.touched" class="error">
          Group title is required.
        </div>
        <div *ngIf="groupName.errors?.minlength && groupName.touched" class="error">
         Minimum of 2 characters.
      </div> -->