<mat-card class="example-card" *ngFor="let form of forms" (click)="showForm(form)">
   <mat-card-header></mat-card-header>
   <mat-card-title>{{form.title}}</mat-card-title>
   <img mat-card-image src="https://ps.w.org/simple-registration-form/trunk/screenshot-1.png?rev=1790752" alt="Photo of a Shiba Inu">
</mat-card>
